force-app/main/default/flows/Update_Lead_Status_on_Flow_Response.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_Interactive</name>
        <label>Is Interactive</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MVWB__Message_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>interactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Lead</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>normalizedSubstatus</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!selectedLeadStatusValue}, &quot;_&quot;, &quot; &quot;)</expression>
    </formulas>
    <formulas>
        <name>selectedLeadStatusValue</name>
        <dataType>String</dataType>
        <expression>MID({!$Record.MVWB__Flow_Response_JSON__c}, 
    FIND(&apos;&quot;selected_lead_status&quot;:&quot;&apos;, {!$Record.MVWB__Flow_Response_JSON__c}) + 24,
    FIND(&apos;&quot;&apos;, {!$Record.MVWB__Flow_Response_JSON__c}, FIND(&apos;&quot;selected_lead_status&quot;:&quot;&apos;, {!$Record.MVWB__Flow_Response_JSON__c}) + 24) 
    - (FIND(&apos;&quot;selected_lead_status&quot;:&quot;&apos;, {!$Record.MVWB__Flow_Response_JSON__c}) + 24)
)</expression>
    </formulas>
    <interviewLabel>Update Lead Status on Flow Response {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Lead Status on Flow Response</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Chat_record_from_ContextId</name>
        <label>Chat record from ContextId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Interactive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MVWB__WhatsAppMessageId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MVWB__WhatsAppContextMessageID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MVWB__Chat__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Related_Lead</name>
        <label>Update Related Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Chat_record_from_ContextId.Related_Record_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Substatus__c</field>
            <value>
                <elementReference>normalizedSubstatus</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Chat_record_from_ContextId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MVWB__Type_of_Message__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inbound Messages</stringValue>
            </value>
        </filters>
        <filters>
            <field>MVWB__WhatsAppContextMessageID__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>MVWB__Flow_Response_JSON__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>MVWB__Chat__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
